body{
    background-color: rgb(182, 235, 59);
    color: black;
     font-family: "Bai Jamjuree", sans-serif;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 700px;
     margin: 0;
}

button {
    background-color: rgb(235, 170, 51);
    color: black;
     font-family: "Bai Jamjuree", sans-serif;
}